html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  font-family: Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  color: #f9b3b3;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 15px;
}

/* header start */

.header {
  width: 100%;
  background: #b3ffa2;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding: 42px 0;
}

.header__button {
  display: flex;
  border-radius: 10px;
  border: 2px solid #E06733;
  background: rgba(224, 103, 51, 0.00);
  padding: 3px 5px;
}

.header__button:hover,
.header__button:active,
.header__button:focus {
  color: #E06733;
  opacity: 1.5;
  cursor: pointer;
}

.header__ico {
  text-align: center;
  align-items: center;
  max-width: 30px;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
}

.header__item {
  margin-right: 60px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 50px;
  color: #010201;
  text-decoration: none;
  text-transform: uppercase;
}

.header__link:hover,
.header__link:active,
.header__link:focus {
  color: #E06733;
  opacity: .75;
  cursor: pointer;
}

/* header end */